.landingLogin {
    background-color: rgb(103, 230, 80);
    padding-top: 10;
    padding-bottom: 10;
    padding-left: 15px;
    padding-right: 15px;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.landingStarted{
    background-color: rgb(103, 230, 80);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}