* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  text-align: center;
}
.header nav {
  background-color: red;
  line-height: 40px;
  font-size: 20px;
}
@media (min-width:400px) {
  .header nav {
    background-color: red;
    line-height: 40px;
    font-size: 20px;
  }
}
@media (min-width: 400px) {
 nav a {
   text-decoration: none;
   color: black;
   margin-right: 13px;
   padding: 5px;
   font-weight: 700;
 }
}

@media (max-width:360px) {
  .header nav {
    background-color: red;
    line-height: 10px;
    font-size: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 360px) {
 nav a {
   text-decoration: none;
   color: black;
   margin-right: 5px;
   padding: 5px;
   font-weight: bold;
   padding-bottom: 15px;
 }
}

.login{
  margin-right: none!important;
  margin-left: 8px;
}
nav h5 {
}
nav a:hover {
  background-color: gray;
}
#navbar{
    background-color:gray!important;
}

#Logo {
    width: 30px;
}
#Admin{
  padding-right: 150px;
}
@media only screen and (max-width: 500px) {
  .headerSearch {
    display: none!important;
  }
}
.logoHeader{margin-right:10px;}
