*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loginAndSignUp {
  display: flex;
  border: 2px solid black;
  width: 500px !important;
  padding: 30px;
}

@media only screen and (min-width: 900px) {
  .loginAndSignUp {
    display: flex;
    border: 2px solid black;
    width: 500px !important;
    padding: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .loginAndSignUp {
    display: flex;
    border: 2px solid black;
    width: 250px !important;
    padding: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .loginAndSignUp {
    display: flex;
    border: 2px solid black;
    width: 250px !important;
    padding: 15px;
  }
}

@media only screen and (min-width: 900px) {
  .loginAndSignUp input {
    margin-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
  }
}

@media only screen and (max-width: 500px) {
  .loginAndSignUp .signupSignInBtn {
    border: none !important;
    padding-left: 50px;
    padding-right: 59px;
    margin-bottom: 10px;
    background-color: rgb(202, 236, 48);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

@media only screen and (min-width: 500px) {
  .loginAndSignUp .signupSignInBtn {
    border: none !important;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 10px;
    background-color: rgb(202, 236, 48);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

.GoogleFbSignIn {}

.GoogleFbSignIn button {
  padding: 10px;
  margin-bottom: 10px;
}
#main {
  margin-top: 100px;
}